body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  background-image: url('background.jpg'); /* Dodaj ścieżkę do swojego obrazu */
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Tło będzie nieruchome podczas przewijania strony */
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

nav {
  background-color: #444;
  color: #fff;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

main {
  padding: 20px;
}

.section {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
}

.section::before {
  content: "";
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
}
